.header__container {
  justify-content: space-between;
  padding: 32px 0;
}

.nav__menu {
  gap: 32px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: 0.5s;
}

.nav__link {
  color: #000;
  position: relative;
}

.nav__link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #ff7b00;
  transform: translateX(-50%);
  transition: width 0.25s linear;
}

.nav__link:hover::after {
  width: 100%;
}

/* bars icon */
.bars__icon {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 8px;
  position: relative;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  visibility: hidden;
}

.bars__icon.active {
  z-index: 5;
  background-color: #eee;
}

.bars__icon span {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 50px;
  background-color: #ff7b00;
  transition: 0.5s;
}

.bars__icon span:nth-child(1) {
  width: 25px;
  transform: translateY(-10px);
  left: 5px;
}

.bars__icon.active span:nth-child(1) {
  width: 30px;
  transform: translateY(0px) rotate(45deg);
  left: 5px;
}

.bars__icon span:nth-child(3) {
  width: 20px;
  transform: translateY(10px);
  left: 5px;
}

.bars__icon.active span:nth-child(3) {
  width: 30px;
  transform: translateY(0px) rotate(315deg);
  left: 5px;
}

.bars__icon.active span:nth-child(2) {
  transform: translateX(45px);
}

.nav__menu.visible {
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  top: 0px;
  padding-top: 84px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  transition: 0.5s;

}

.nav__menu.nav__menu.visible .nav__item {
  transform: translateY(0px);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 900px) {
  .nav__menu {
    visibility: hidden;
    opacity: 1;
    flex-direction: column;
    position: absolute;
    top: -84px;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav__item {
    transform: translateY(-15px);
  }

  .bars__icon {
    visibility: visible;
  }
}

@media screen and (min-width: 900px) {
  .nav__menu {
    transition: none;
  }
}
